<div *ngIf="!isLoggedIn()">
  <h1>Prijava</h1>
  <hr class="colorgraph" />
  <br />
  <form class="col-sm-7" (keyup.enter)="LoginUser()">
    <input
      type="text"
      name="username"
      [(ngModel)]="username"
      class="form-control"
      name="username"
      placeholder="Username"
    />
    <br />
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      class="form-control"
      placeholder="Password"
      required=""
    />
    <br />
    <button
      class="btn btn-lg btn-primary btn-block"
      name="Submit"
      value="Prijava"
      (click)="LoginUser()"
    >
      Prijava
    </button>
    <br />
  </form>
</div>
